{{ define "main" }}
    <main class="post">

        <article>
            <h2 class="post-title"><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h2>

            {{- if .Params.toc }}
                <hr />
                <aside id="toc">
                <div class="toc-title">{{ i18n "tableOfContents" }}</div>
                    {{ .TableOfContents }}
                </aside>
                <hr />
            {{- end }}

            {{ with .Params.Cover }}
                <img src="/img/{{ . }}" class="post-cover" />
            {{ end }}

            <div class="post-content">
                {{ .Content }}
            </div>
        </article>

        <hr />

        {{ if .Params.comments }}
          <div id="comments" class="thin">
      		    {{- partial "comments.html" . -}}
      		</div>
        {{ end }}
    </main>
{{ end }}
