{{ define "main" }}
    <div id="home-center">

        {{- if .Site.Params.logo.image }}
        <img id="home-logo" src="{{ .Site.Params.logo.image }}" />
        {{ end }}

        <h1 id="home-title">{{ .Site.Title }}</h1>

        {{- with .Site.Params.homeSubtitle }}
            <p id="home-subtitle">{{.}}</p>
        {{- end }}

        {{- with .Site.Params.social }}
            <div id="home-social">
                {{ partialCached "social-icons.html" . }}
            </div>
        {{- end }}
    </div>
{{ end }}
